@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3f4442;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #111111;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  @apply flex pl-[335px];

	.bg-spotify {
		@apply h-[510px] w-full absolute z-[-1] left-0 top-0 bg-gradient-to-b from-[#3333A3] to-[#121212];
	}

	.section1 {
		@apply mt-[30px] flex-1 pr-[40px];
	}
}

header {
	@apply pl-[335px] pr-[40px] py-5 text-white flex items-center justify-between;

	&.isShown {
		@apply pr-[385px]
	}
}

aside {
  @apply max-w-[300px] w-full h-full fixed top-0 left-0 bg-black px-[30px] pt-[70px] flex-1 pb-4;
}

.drawer {
  @apply max-w-[345px] w-full h-[100vh]; 
}