@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: white;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3f4442;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #111111;
  }
  input {
    outline: none;
  }
}

ul, 
li, 
ol {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
	@apply pl-[335px] pr-[40px] py-5 text-white flex items-center justify-between;

	&.isShown {
		@apply pr-[385px]
	}
}

main {
  @apply flex pl-[335px] pt-6 pb-36;

	.bg-spotify {
		@apply h-[440px] w-full absolute z-[-1] left-0 top-0 bg-gradient-to-b from-[#1f1f3399] to-[#121212];
	}

  section {
    @apply flex-1 pr-[40px];
  }

  .drawer {
    @apply max-w-[345px] w-full h-[100vh]; 
  }

  .my-playlist {
    @apply bg-[#ffffff10] w-full h-[82px] pr-5 flex items-center
            rounded-md overflow-hidden ease-in duration-200 hover:bg-[#d4d4d420] cursor-pointer;  

    &:hover {
      .playBtn {
        @apply flex
      }
    }

    .playBtn {
      @apply w-[52px] h-[52px] bg-[#1ab05b] flex justify-center items-center
             cursor-default rounded-full hidden ease-in-out duration-300 drop-shadow-md;

      &:hover {
        @apply w-[54px] h-[54px]
      }
    }
    
  }
  .pulse {
    @apply animate-pulse cursor-default;
  }

  .category{
    @apply bg-[#27856A] rounded-lg p-[50%] max-w-[242px] overflow-hidden cursor-pointer relative;
    
    &:nth-child(2n+1) {
      background-color: #27856A;
    }
    &:nth-child(3n-1) {
      background-color: #E8115B;
    }
    &:nth-child(6n-3) {
      background-color: #8D67AB;
    }
    &:nth-child(3n+1) {
      background-color: #1E3264; 
    }
    &:nth-child(4n-2) {
      background-color: #509BF5; 
    }
  }

  .player {
    @apply w-full h-fit px-5 pt-5 pb-3 bg-[#181818]
     flex justify-between items-center gap-10 
     fixed left-0 bottom-0 text-white z-50;
    border-top: 1px solid #282828;
  }

  audio {
    height: 30px;
    &::-webkit-media-controls-enclosure {
      border-radius: 5px;
      background-color: transparent;
    }
    &::-webkit-media-controls-play-button {
      display: none;
    }

    &::-webkit-media-controls-current-time-display,
    &::-webkit-media-controls-time-remaining-display {
      color: #A6A6A6;
      text-shadow: none;
    }
    &::-webkit-media-controls-timeline {
      background-color: #181818;
      border-radius: 30px;
    }
    &::-webkit-media-controls-mute-button {
      display: none !important;
    }
    &::-webkit-media-controls-volume-slider {
      display: none !important;
    }
    &::-webkit-media-controls-volume-control-container.closed {
      display: none !important;
    }
    &::-webkit-media-controls-volume-control-container {
      display: none !important;
    }
    &::-webkit-media-controls-panel {
      background-color: #181818;
    }
    &::-webkit-media-controls-rewind-button {
      background-color: #fff;
      color: #fff;
    }
    &::-webkit-media-controls-timeline {
      color: #fff;
    }
  }

}

aside {
  @apply max-w-[300px] w-full h-full fixed top-0 left-0 bg-black px-[30px] pt-[70px] flex-1 pb-4;
}

/* - Custom classes ----------------------------------------- */
.custom-shadow {
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}